<%= render "navbar" %>
 
<div class="container">
    <h1>새 글 작성_게시판 </h1>
 
    <form action="/posts/create" method="post" enctype="multipart/form-data">
    
      <input type="hidden" name="user_id" value=<%=current_user.id%>></input>
      title:<br> <input type="text" name="title" placeholder="제목을 입력하세요" style="width:80%"><br>
      
      <textarea name="content" class="tinymce" style="width:80%" rows="15"></textarea>
      <%= tinymce %>
      <button type="submit" class="btn btn-primary">작성</button>
 
    </form>
</div>